#rbq {
    position: absolute;
    font-size: 12px;
    /*color: #aaa;*/
    color: white;
    /*font-weight: 100;*/
    top: 60px;
}

.erratum {
    width :700px;
    margin: 0 auto;
    text-align :left;
    font-size : 10px;
}
.erratum p {
    font-size : 10px!important;
}

@media only screen and (min-width: 1279px){
    .image-content {
        margin-top: 15%;
    }
}
