html body {
    font-family: 'Armata', sans-serif;
    color: #232a56;
    background-color: white;
}

.propeinture-logo {
    max-width: 100%;
    height: auto;
}

.propeinture-contact {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 18px;
    letter-spacing: 6px;
}

a, a:hover, a:focus {
    text-decoration: none !important;
}

a {
    color: #68b42e !important;
}

a:hover {
    color: #559226 !important;
}